@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the base styles for Angular Material core. We include this here so that you only
// have to load a single css file for Angular Material in your app.
@include mat-core();

@mixin mat-icon-size($size: 24px) {
  font-size: $size;
  height: $size;
  width: $size;
}

@mixin trapezoid-up($name: trapezoid-up, $height: 40px, $triangle-width: 40px, $color: $tile-background) {
  .#{$name} {
    height: $height;
    position: relative;
    margin: 0px $triangle-width;
    box-shadow: 0px -4px 4px -4px rgba(0, 0, 0, 0.5);
  }

  .#{$name}:before {
    width: $triangle-width;
    height: $height;
    position: absolute;
    content: '';
    background-color: $color;
    box-shadow: -4px 0px 4px -4px rgba(0, 0, 0, 0.5);
    transform: skew(-45deg);
    transform-origin: right top;
  }

  .#{$name}:after {
    width: $triangle-width;
    height: $height;
    right: 0;
    top: 0;
    position: absolute;
    content: '';
    background-color: $color;
    box-shadow: 4px 0px 4px -4px rgba(0, 0, 0, 0.5);
    transform: skew(45deg);
    transform-origin: left top;
  }
}

@mixin trapezoid-down($name: trapezoid-down, $height: 40px, $triangle-width: 40px, $color: $tile-background) {
  .#{$name} {
    height: $height;
    position: relative;
    margin: 0px $triangle-width;
    box-shadow: 0px 4px 4px -4px rgba(0, 0, 0, 0.5);
  }

  .#{$name}:before {
    width: $triangle-width;
    height: $height;
    position: absolute;
    bottom: 0;
    content: '';
    background-color: $color;
    box-shadow: -4px 0px 4px -4px rgba(0, 0, 0, 0.5);
    transform: skew(45deg);
    transform-origin: right bottom;
  }

  .#{$name}:after {
    width: $triangle-width;
    height: $height;
    right: 0;
    bottom: 0;
    position: absolute;
    content: '';
    background-color: $color;
    box-shadow: 4px 0px 4px -4px rgba(0, 0, 0, 0.5);
    transform: skew(-45deg);
    transform-origin: left bottom;
  }
}

@mixin trapezoid-down-simple($name: trapezoid-down-simple, $height: 32px, $triangle-width: 16px, $color: $primary67) {
  .#{$name} {
    border-top: $height solid $color;
    border-left: $triangle-width solid transparent;
    border-right: $triangle-width solid transparent;
    height: 0;
  }
}

$title-foreground: #3f3f3f;

$size-foreground: #5c5c5c;

$description-foreground: #291044;

$tile-background: #f2f2f2;

$header-background: rgba(242, 242, 242, 0.5);

$tile-background-secondary: rgba(140, 140, 140, 0.5);

$primary500: #5a2d84;

$primary67: rgba(90, 45, 132, 0.67);

$foreground-inverse: white;

// define a real custom palette (using http://mcg.mbitson.com)
$mh-primary: (
  50 : #ebe6f0,
  100 : #cec0da,
  200 : #ad96c2,
  300 : #8c6ca9,
  400 : #734d96,
  500 : $primary500,
  600 : #52287c,
  700 : #482271,
  800 : #3f1c67,
  900 : #2e1154,
  A100 : #b98cff,
  A200 : #9a59ff,
  A400 : #7b26ff,
  A700 : #6c0dff,
  contrast:
    (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #ffffff,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #ffffff,
      A400 : #ffffff,
      A700 : #ffffff
    )
);
// mandatory stuff for theming
$mh-pp-primary: mat-palette($mh-primary);
$mh-pp-accent: mat-palette($mat-orange);
// include the custom theme components into a theme object
$mh-pp-theme: mat-light-theme($mh-pp-primary, $mh-pp-accent);
// include the custom theme object into the angular material theme
@include angular-material-theme($mh-pp-theme);
$mh-typography: mat-typography-config(
  $font-family: Orkney,
  $display-4: mat-typography-level(24px, 24px, 200),
  $subheading-1: mat-typography-level(20px, 20px, 200),
  $subheading-2: mat-typography-level(22px, 22px, 200),
  $body-1: mat-typography-level(18px, 20px, 200),
  $body-2: mat-typography-level(20px, 20px, 200),
  $caption: mat-typography-level(16px, 16px, 100)
);
@include angular-material-typography($mh-typography);
