@import '../../theme';

@include trapezoid-up();

@include trapezoid-down();

@include trapezoid-down-simple();

:host {
  min-width: 0px;
}

section {
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.buttons {
  display: flex;
  flex-direction: row;
}

.tags {
  display: flex;
  flex-direction: row;
  z-index: 98;
}

.tag-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: $foreground-inverse;
  margin-left: -20px;
  min-width: 54px;
}

.tag {
  font-family: Prime;
  margin-top: -32px;
}

.date-header {
  font-family: Sintony;
  font-size: 14px;
  color: $date-foreground;
  padding-left: 16px;
}

.title-container {
  display: flex;
  flex-direction: row;
  padding: 8px 16px 12px 16px;
  border-bottom: 4px solid $primary500;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: space-between;
}

.title {
  @include mat-typography-level-to-styles($mh-typography, display-4);
  color: $title-foreground;
}

.size {
  @include mat-typography-level-to-styles($mh-typography, subheading-1);
  color: $size-foreground;
  align-self: flex-end;
  margin-left: 16px;
}

.image-row {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px;
}

.illustration {
  max-width: 100%;
  max-height: 100%;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.5);
}

.footer {
  display: flex;
  flex-direction: column;
}

.description-container {
  flex-grow: 1;
  z-index: 99;
  padding: 16px 24px 24px 24px;
}

.description {
  margin-bottom: -40px;
  word-wrap: break-word;
  color: $description-foreground;
}

loading-spinner {
  height: 40px;
  width: 40px;
}
